@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);
:root{
    --color-fondo: #EEEFF3;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
}

body{
    background: var(--color-fondo);
    font-family: 'Fira Code';

}

/* Header */

header{
    align-items: center;
    width: 100%;
    height: 1em;
    font-family: 'Patrick Hand';
}
